.list {
    background-color: #f4f4f4;
    border-radius: 4px;
    padding: 1rem;
    min-width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

    .list h3 {
        margin-top: 0;
    }

.cards-container {
    margin-bottom: 1rem;
}

.card-container {
    margin-bottom: 1rem;
}

.modal-content {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    box-sizing: border-box;
}

.modal-content textarea {
    resize: none;
    height: 100px;
}
