.card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word; /* Assicura il wrapping del testo */
    overflow-wrap: break-word; /* Assicura il wrapping del testo */
    cursor: pointer; /* Aggiungi un cursore per indicare che è cliccabile */
    color:darkgray;
}

    .card h3 {
        margin: 0 0 5px 0;
        font-weight: bold; /* Titolo in grassetto */
    }

    .card p {
        margin: 0;
    }
